{% extends 'app/container-view.twig' %}

{% block content %}
<div id="data-stats" data-stats="{{ stats }}"></div>

<div class="charts">
    <div class="chart-wrapper">
        <canvas class="chart" id="ram-chart" ></canvas>
    </div>

    <div class="chart-wrapper">
        <canvas class="chart" id="cpu-chart"></canvas>
    </div>

    <div class="chart-wrapper">
        <canvas class="chart" id="net-chart"></canvas>
    </div>

    <div class="chart-wrapper">
        <canvas class="chart" id="net-delta-chart"></canvas>
    </div>
</div>
{% endblock %}