.first-project {
  margin-top: 200px;
  align-self: center;

  a {
    color: var(--text-low-contrast) !important;
    text-decoration: underline;
  }
}

.containers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}