main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .left-side pre {
    font-size: 1rem;
    color: var(--text-high-contrast);
  }
}

form {
  width: 500px;
  padding: 50px;
  border: 2px solid var(--border-not-interactive);
  border-radius: 10px;
  position: relative;

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  /* Spotlight hover effect */
  &:hover {
    background: radial-gradient(
                    100rem circle at var(--mouse-x) var(--mouse-y),
                    rgba(#f2e2fc, 0.4),
                    transparent 15%
    );

    &::before {
      opacity: 1 !important;
    }
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    background: radial-gradient(
                    60rem circle at var(--mouse-x) var(--mouse-y),
                    rgba(#f2e2fc, 0.1),
                    transparent 35%
    );

    z-index: -1;

    transition: all 0.15s ease-in-out;
  }

  /* ***** */

  .title {
    text-align: center;

    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
  }

  input {
    position: relative;
    width: 100%;
    background-color: var(--component-background);
    border: 1px solid transparent;
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1em;

    &:focus, &:hover {
      border: 1px solid var(--border-interactive);
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-high-contrast-gray);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }

  button[type='submit'] {
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border-radius: 4px;
    letter-spacing: 2px;
  }

  .error {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--error-red);
  }
}