form {
  align-self: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 50px;
  margin-top: 5%;

  .title {
    text-align: center;

    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
  }

  input {
    position: relative;
    width: 100%;
    background-color: var(--component-background);
    border: none;
    border-bottom: var(--border-interactive);
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1em;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--text-high-contrast-gray);
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }

  button[type='submit'] {
    width: 100%;
    padding: 15px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border-radius: 4px;
    letter-spacing: 2px;
  }

  .error {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--error-red);
  }
}