.container-state {
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
}

#container-head {
  nav {
    width: fit-content;
    margin: 20px 0;
    border: 1px solid var(--border-interactive);
    border-radius: 20px;
    overflow: hidden;

    ul {
      display: flex;

      li {
        padding: 10px 20px;

        &:not(:last-child) {
          border-right: 1px solid var(--border-interactive);
        }

        &[aria-current="1"] {
          font-weight: bold;
          background-color: var(--component-background);
        }

        a {
          text-align: center;
        }
      }
    }
  }
}

.chart-wrapper {
  margin: auto auto 20px;
  max-width: 80%;

}

.chart {
  max-height: 250px;
}