form {
  width: 600px;
  margin: 6% auto auto auto;

  position: relative;
  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  h1 {
    align-self: center;
    color: var(--text-high-contrast-gray);
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  label {
    font-size: 1.5rem;
  }

  input, textarea {
    font-family: 'Roboto', serif;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--accent-border-interactive);

    background-color: inherit;
  }

  textarea {
    resize: none;
    min-height: 80px;
  }

  #notification_form_title {
    font-size: 1rem;
    line-height: 2rem;
  }

  button[type="submit"] {
    align-self: flex-end;
  }
}