form {
  width: 80%;
  max-width: 550px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px ;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  label {
    width: fit-content;
  }

  input {
    background-color: transparent;
    padding: 10px;
    border: 1px solid var(--border-interactive);
    border-radius: 4px;
  }

  input[type="checkbox"] {
    width: fit-content;
  }

  #edit-containers-wrapper {
    gap: 10px;
  }

  #user_form_containers>div {
    display: flex;
    flex-direction: row;
    gap: 10px;

    select {
      width: fit-content;
    }

    button {
      background-color: transparent;
      padding: 0;
    }
  }

  #user_form_roles {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
}