@media screen and (max-width: 1000px) {
  #logo-ascii {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #main-head {
    margin-top: 10px;
    margin-bottom: 100px;

    div {
      .catch-line-wrapper {
        display: none;

        &.catch-first h2 {
          animation: none;
        }

        &.catch-second h2 {
          animation: none;
        }
      }

      .catch-line-full {
        display: block;

        h2 {
          animation: fade-in 250ms ease-in 3050ms forwards;
        }
      }

      h2 {
        font-size: 2.4rem;

        position: relative;
        opacity: 0;
        bottom: 0;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}